@CHARSET "UTF-8";

ul, li {
	margin: 0;
	padding: 0;
}

.container {
	width: 800px;
}

#header {
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#logo {
	float: left;
	margin-top: 27px;
	font-size: 400%;
}

h1 {
	text-align: center;
	margin: 15px;
}

#businessInfo {
	float: right;
	margin: 20px 20px 0 0;
}

#businessInfo ul {
	list-style-type: none;
}

#businessInfo ul li {
	font-size: 12px;
	text-align: right;
}

.invoiceContainer {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.invoiceContainer ul {
	list-style-type: none;
}

.invoiceInnerLeft {
	float: left;
	width: 300px;
	margin-left: 20px;
}

.invoiceInnerLeft h4 {
	margin-bottom: 3px;
}

.invoiceInnerRight {
	float: right;
	margin-top: 20px;
	width: 180px;
	margin-right: 20px;
}

.invoiceInnerRight ul li {
	text-align: left;
}

.invoiceInnerRight ul li span {
	float: right;
	width: 100px;
	text-align: right;
}

/********************  Jobs table  ***********************/

table, tr, th, td {
	margin: 5px 0 0 0;
	padding: 0;
}

table.jobs {
	margin: 20px;
	width: 760px;
}

.jobs th {
	padding: 5px 0;
}

.jobs tr {
	padding: 15px 0;
}

.alignRight {
	text-align: right;
	width: 120px;
}

.finalTotal {
	text-align: right;
	width: 100px;
	font-weight: bold;
	padding-top: 10px;
}

hr {
	border-bottom: 3px solid #ccc;
}

/********************  Payments options  ***********************/

#paymentOptions {
	overflow: hidden;
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

#paymentOptions ul {
	list-style-type: none;
}

.paymentPost {
	width: 300px;
	float: left;
}

.paymentDirectDeposit {
	width: 300px;
	float: left;
}

.paymentDirectDeposit span {
	width: 125px;
	float: left;
}


